@font-face {
    font-family: 'babysparkle';
    src: url('fonts/Baby\ Sparkle.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

body {
    background-color: #000000;
    color: yellow;
    font-family: 'babysparkle', sans-serif;
    font-size: 2em;
    background-image: url('img/polo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
  }
  .marquee {
    color: greenyellow;
    font-size: 20px;
  }
  a {
    color: cyan;
    text-decoration: none;
  }